<!-- Bouton toggle (mobile) -->
<button class="sidebar-toggle d-lg-none" (click)="toggleSidebar()">
  <i class="bi bi-list"></i>
</button>

<!-- SIDEBAR -->
<aside class="gov-sidebar " [class.open]="sidebarOpen">
  <div class="sidebar-header">
    <h6 class="mb-0">Tableau de Bord</h6>
    <small>Administration</small>
  </div>

  <ul class="nav flex-column px-3 mt-3">
    <li class="nav-item">
      <a class="nav-link" routerLink="/" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }"
        (click)="closeSidebarOnMobile()">
        <i class="bi bi-house-door"></i>
        Accueil
      </a>
    </li>

    <li class="nav-item">
      <a class="nav-link" routerLink="/communes" routerLinkActive="active" (click)="closeSidebarOnMobile()">
        <i class="bi bi-geo-alt"></i>
        Communes
      </a>
    </li>

    <li class="nav-title">Provinces</li>
    <li class="nav-item" *ngFor="let p of provinces">
      <a class="nav-link" (click)="closeSidebarOnMobile()">
        <i class="bi bi-geo-alt"></i>
        {{ p }}
      </a>
    </li>
  </ul>
</aside>
